[Unit]
Description=Stomp Audio Labs Bootloader
Requires=multi-user.target
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/stomploader.sh -r
ExecStop=/usr/bin/stomploader.sh -s
[Install]
WantedBy=multi-user.target
